In [1]:
import numpy as np
import random as r
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
def get_Q(I,M,L,lead_time):
  #I is current inventory
  if I < L and 0<= lead_time <= 1:
    QU = M-I
  elif lead_time ==20 and I < L:
    QU = M-I
  else:
    QU = 0
  return QU

In [3]:
def order_cost(Q):
  if Q > 0:
   return 60 + 5*Q
  else:
    return 0

In [4]:
def back_cost(I):
  if I < 0:
    return -I*4
  else:
    return 0

In [5]:
def inv_cost(I):
  if I > 0:
    return I
  else:
    return 0

In [6]:
#funtion to calculate revenue
def selling(inv,monthly_demand,order_reciept,start_inv):
  b = start_inv
  m = inv
  revenue = []
  for i in range(1):
    if order_reciept[i]+b[i] > 0:
      sales = min(order_reciept[i]+b[i],monthly_demand[i])*10
      revenue.append(sales)

  for i in range(1,len(inv),1):
    z = m[i-1] 
    if z > 0 :
      sales = min(z,monthly_demand[i])*5
      if monthly_demand[i] > z:
        sales = sales+ 10*min(b[i]-z,monthly_demand[i]-z)
    elif b[i] > 0:
      if m[i-1] >= 0:
        sales = min(b[i],monthly_demand[i])*10
      else:
        sales = min(order_reciept[i],monthly_demand[i]-m[i-1])*10
    else:
      sales = 0
    revenue.append(sales)
  return revenue

In [7]:
def simulation(no_of_replication = 1, length_of_each_run = 100 ):
  L = length_of_each_run
  n = no_of_replication
  mean_profit = []
  mean_monthly_cost = []
  sl = [] # cycle service level
  data = pd.DataFrame(data = None)
  for i in range(n):
    z = -1
    order_reciept = int(L+2)*[0] # creating this for assigning order quantity recival to particular month because suppose if lead time is more than 1 month then adding order quantity in second month
    I = 50 #initial inventory
    monthly_cost = []
    monthly_orders = []
    monthly_demand = []
    start_inv = []
    t = 0 #initial month
    L_time = 20
    inv = []
    lead = []
    while t < L: # run for L month
      I = I + order_reciept[t] # assigned order quantity if lead time is more than 1 month 
      start_inv.append(I)
      d_t = 0 # initialize demand time in given month
      dm = [] 
      while d_t < 1: # writing code to evaluate total demand occured in a given month
        d_t = d_t + r.expovariate(15)
        pr = r.uniform(0,1)
        if pr >= 0 and pr<= 0.5:
          D = 1
        elif 0.5 < pr <= 0.75:
          D = 2
        elif 0.75 < pr <= 7/8:  
          D = 3
        else:
          D = 4
        dm.append(D)
      demand = sum(dm) # this will give total demand of that month
      monthly_demand.append(demand)

      I = I -demand

      if t >= 1:
        z = inv[t-1]   - monthly_demand[t]
      if z > 0:
        I = I - z
      Q = get_Q(I,50,30,L_time)  ######
      monthly_cost.append(order_cost(Q)+back_cost(I)+ inv_cost(I))
      inv.append(I)
      monthly_orders.append(Q)
      if Q > 0:
        L_time = r.uniform(0.25,1.25)
      else:
        L_time = 0
      lead.append(L_time)
      if 0.25 <= L_time <= 1 and Q > 0: #if lead time is less than 1 month that means we are getting our ordered quantity in next month
        order_reciept[t+1] = Q
      elif L_time > 1 and Q > 0: # therefore in next month inventory becomes on hand inventory plus recieved quanity
        order_reciept[t+2] = Q
        order_reciept[t+1] = 0
      t = t + 1 
    #print('inv',inv)
    #print('demand',monthly_demand)
    #print('order_reciept',order_reciept)
    #print('leadtime',lead) 
    #print('monthlycost',monthly_cost)
    seling = selling(inv,monthly_demand,order_reciept,start_inv)
    mean_profit.append(-np.mean(monthly_cost)+ np.mean(seling)) 
    mean_monthly_cost.append(np.mean(monthly_cost))
    #data['START INVENTORY'] = start_inv[:10]
    data['MONTHLY DEMAND'] = monthly_demand[:10]
    data['ORDER RECEIPT'] = order_reciept[:10]
    data['END INVENTORY'] = inv[:10]
    data['MONTHLY ORDER'] = monthly_orders[:10]
    data['MONTHLY COST'] = monthly_cost[:10]
    data['MONTHLY SELLING'] = seling[:10]
    modified_inv = [50,*inv]
    #print('mod inv',modified_inv)
    ser_level_list = []
    sl_count = 0
    for i in range(len(monthly_demand)):
      ser_level_list.append(modified_inv[i] + order_reciept[i] - monthly_demand[i])
    for service_level in ser_level_list:
      if service_level >= 0:
        sl_count += 1
    sl.append(sl_count/len(monthly_demand))
  return mean_profit,mean_monthly_cost,sl ,data

$mean\_monthly\_cost$ is a list of length = no. of replications . Each element represent average monthly cost averaged over length of each run. Similarly for $mean\_profit$.

$sl$ is a list of length = no. of replications. Each element shows averaged cycle service level averaged over length of each run.

$data$ gives a datafram containing first 10 month cost, inventory, order_receipt, monthly_order etc. for the last simulation run. It will be usefull for verifying the code.

Now lets run a example simulation with just one run.

In [8]:
#example run
mmp, mmc ,sl_list ,data= simulation(1)
data

,MONTHLY DEMAND,ORDER RECEIPT,END INVENTORY,MONTHLY ORDER,MONTHLY COST,MONTHLY SELLING
0,20,0,30,0,30,200
1,24,0,0,50,310,120
2,24,0,-24,0,96,0
3,30,50,-4,54,346,500
4,44,54,6,44,286,480
5,40,44,10,40,270,370
6,26,40,24,26,214,210
7,32,26,18,32,238,200
8,31,32,19,31,234,220
9,45,0,-26,0,104,95

##part a

#Now we run simulation for 10 replication each of length 100 months. **NO WARM UP PERIOD SPECIFIED FOR THIS PART OF THE QUESTION

In [9]:
mean_profit, mean_cost,csl_list ,data = simulation(no_of_replication = 10, length_of_each_run = 100)

In [10]:
print('mean profit for 10 run', mean_profit)

mean profit for 10 run [21.51000000000002, 4.640000000000015, 0.2699999999999818, -0.8500000000000227, 12.269999999999982, -0.44999999999998863, 14.47999999999999, 1.460000000000008, 11.300000000000011, 13.340000000000003]

In [11]:
print(np.mean(mean_profit))

7.797

In [12]:
print('mean monthly for 10 run', mean_cost)

mean monthly for 10 run [236.84, 236.16, 231.43, 241.3, 236.83, 231.1, 246.52, 229.44, 230.75, 236.91]

In [13]:
print(np.mean(mean_cost))

235.72799999999998

In [14]:
print('cycle service level for 10 run', csl_list)

cycle service level for 10 run [0.6, 0.58, 0.73, 0.7, 0.61, 0.61, 0.55, 0.78, 0.71, 0.62]

##part b

Now lets calculate CI for cost and profit

In [15]:
import statistics

In [16]:
mean_mc = np.mean(mean_cost)
print('mean of 90% CI for mean_monthly_cost',mean_mc)

mean of 90% CI for mean_monthly_cost 235.72799999999998

In [17]:
#90% CI FOR MEAN COST
S = (statistics.variance(mean_cost))**0.5 #standard deviation
R = 10
t = 1.833 # for alpha = 0.1 
hw_cost  = t*S/np.sqrt(R)
print('#90% CI half width for mean_monthly_cost',hw_cost)

#90% CI half width for mean_monthly_cost 3.08999173725368

In [18]:
mean_mp = np.mean(mean_profit)
print('mean of 90% CI for monthly_profit',mean_mp)

mean of 90% CI for monthly_profit 7.797

In [19]:
#90% CI FOR MEAN profit
S = (statistics.variance(mean_profit))**0.5
R = 10
t = 1.833 #alpha = 0.1, 
hw_profit  = t*S/np.sqrt(R)
print('#90% CI half width for monthly_profit',hw_profit)

#90% CI half width for monthly_profit 4.511795488818284

lets calculate no. of replication for half width of monthly cost to be under 5.

In [20]:
#for hw = 5 of monthly cost
R = 10
R_req = R*((hw_cost)**2)/25
print('#for hw = 5 of monthly cost requred R',np.ceil(R_req))

#for hw = 5 of monthly cost requred R 4.0

Now we run simulation again with required R.

In [21]:
new_mp, new_mc,new_sl_list ,data = simulation(int(R_req))

In [22]:
mean_new_mc = np.mean(new_mc)
print(mean_new_mc)

225.99666666666667

In [23]:
#90% CI FOR  new MEAN profit
S = (statistics.variance(new_mc))**0.5
R = R_req
t = 1.79 #alpha = 0.1, 
hw_new_cost  = t*S/np.sqrt(R)
print('NEW HALF WIDTH FOR 90% CI OF MONTHLY COST',hw_new_cost)

NEW HALF WIDTH FOR 90% CI OF MONTHLY COST 6.232717933949233

Now half width for 90% CI of monthly cost is around 2.66 which is less than 5 as required.

simulation optimization part is done in 2nd file.